#aboutus .aboutus_images {
  position: relative;
}

#aboutus .aboutus_images img {
  width: 100%;
  height: 100%;
  border: 3px white solid;
  box-shadow: -9px 10px 28px 0px rgba(0, 0, 0, 0.75);
}

#aboutus .aboutus_images img:nth-child(1) {
  z-index: 1;
  top: 90px;
  left: 105px;
  width: 60%;
  height: 60%;
  position: relative;
}

#aboutus .aboutus_images img:nth-child(2) {
  top: 120px;
  left: 109px;
  width: 60%;
  height: 85%;
  transform: rotate(-20deg);
  position: absolute;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  #aboutus article {
    text-align: center;
  }

  #aboutus article h2 {
    font-size: 1.4rem;
  }

  #aboutus article h3 {
    font-size: 1rem;
  }

  #aboutus article p {
    font-size: 0.7rem;
  }
}
