footer {
  background-color: #c98e48;
  color: black;
}

footer input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 230px;
  color: black;
}
footer input::placeholder {
  color: black;
}

footer button {
  padding: 0 5px;
  background-color: black;
  color: #c98e48;
  border: 0;
}

footer .container .row a {
  text-decoration: none;
  position: relative;
}

footer .container .row a:link {
  color: black;
}

footer .container .row a:visited {
  color: black;
}

footer .container .row .footer-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0%;
  bottom: 0%;
  background: #000;
  transition: width 0.3s;
}

footer .container .row .footer-links a:hover::after {
  width: 20%;
}

.backwhite {
  position: relative;
  width: 23px;
  height: 27px;
  background-color: white;
  border-radius: 5px;
}

.fa-facebook {
  position: absolute;
  top: -2px;
  left: -1px;
}
.fa-twitter-square {
  position: absolute;
  top: -2px;
  left: -2px;
}

.fa-instagram {
  position: absolute;
  top: -2px;
  left: -2px;
}

.footer-links-mobile .fa-facebook:hover {
  color: #3b5998;
}

.footer-links-mobile .fa-twitter-square:hover {
  color: #38a1f3;
}

.footer-links-mobile .fa-instagram:hover {
  color: #d6249f;
}
