#specialrecipes {
  background: url(../img/srecipe.jpg) center center no-repeat;
  background-size: cover;
  height: 450px;
}

#specialrecipes article {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  #specialrecipes {
    height: 300px;
  }

  #specialrecipes article {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    border-radius: 5px;
  }

  #specialrecipes article h2 {
    font-size: 1.4rem;
  }

  #specialrecipes article h3 {
    font-size: 1rem;
  }

  #specialrecipes article p {
    font-size: 0.7rem;
  }
}
