#specialrecipes {
  background: url(../img/srecipe.jpg) center center no-repeat;
  background-size: cover;
}

#specialrecipes article {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 768px) {
  #specialrecipes {
  }

  #specialrecipes article {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
  }

  #specialrecipes article h2 {
    font-size: 1.4rem;
  }

  #specialrecipes article h3 {
    font-size: 1rem;
  }

  #specialrecipes article p {
    font-size: 0.7rem;
  }
}
