@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,700");
@import "aboutus.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 65%;
  margin: 0 auto;
}

nav {
  height: 40px;
  background-color: #0006;
  background: rgba(0, 0, 0, -0.5);
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

#navbar ul li {
  margin-top: 1%;
}

#navbar li a {
  text-decoration: none;
}

#mainshop {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.main_video_element {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url(../img/Coffee-Twins.jpg) no-repeat;
  background-size: cover;
  z-index: -100;
}

.main_title {
  padding-top: 350px;
}
