@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|PT+Serif:400,700");
@import "aboutus.css";
@import "specialrecipes.css";
@import "specials.css";
@import "menu.css";
@import "delivery.css";
@import "footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.navbar {
  background-color: black;
  color: white;
}

#mainshop {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.main_video_element {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -100;
}

.main_title {
  padding-top: 330px;
  color: white;
  text-shadow: 0px 1px 8px #000000;
}

.main_title h1 {
  font-size: 3.5rem;
}

.main_title h2 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .main_title {
    padding-top: 280px;
    text-align: center;
  }

  .main_title h1 {
    font-size: 3rem;
  }

  .main_title h2 {
    font-size: 1rem;
  }
}
